

.title {
    color: #fff;
    border-bottom: 6px solid #fff;
    border-top: 6px solid #fff;
    border-radius: 10rem;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-out;
    text-shadow: 0 0 50px #fff;  
    background: #0b5183;
}

.title:hover {
    text-shadow: 0 0 50px #000;
}