.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	color: #fff;
	font-size: 3rem;
	text-align: center;
	padding: 1rem 3rem;
	color: #60dafa;
}

.img {
	width: 10rem;
	padding: 2rem;
}

.img,
.title {
	border-bottom: 6px solid #60dafa;
	border-top: 6px solid #60dafa;
	border-radius: 10rem;
	background: #0b5183;
	cursor: pointer;
}
